<manifest xmlns:android="http://schemas.android.com/apk/res/android">
<uses-permission android:name="android.permission.INTERNET"/><uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
<uses-permission android:name="android.permission.RECORD_AUDIO"/><uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
<uses-permission android:name="android.permission.BLUETOOTH" android:maxSdkVersion="30"/><uses-permission android:name="android.permission.BLUETOOTH_CONNECT"/>
<uses-permission android:name="android.permission.POST_NOTIFICATIONS"/><uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT"/>
<uses-permission android:name="android.permission.FOREGROUND_SERVICE"/><uses-permission android:name="android.permission.FOREGROUND_SERVICE_REMOTE_MESSAGING"/><uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE"/>
<permission android:name="com.yoyo.cleanapp.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION" android:protectionLevel="signature"/><uses-permission android:name="com.yoyo.cleanapp.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"/>
<application android:name=".YoYoApp" android:allowBackup="false" android:icon="@drawable/yoyo_icon" android:label="YOYO" android:roundIcon="@drawable/yoyo_icon" android:supportsRtl="true" android:usesCleartextTraffic="false" android:theme="@style/Theme.YoYo">
<activity android:name=".CallActivity" android:screenOrientation="portrait" android:exported="false" android:launchMode="singleTop"/>
<activity android:name=".ChatActivity" android:exported="false" android:windowSoftInputMode="adjustResize"/>
<activity android:name=".MainActivity" android:exported="true" android:windowSoftInputMode="adjustResize"/>
<activity android:name=".LaunchActivity" android:exported="true" android:theme="@android:style/Theme.Material.Light.NoActionBar"><intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter></activity>
<service android:name=".RealtimeService" android:exported="false" android:foregroundServiceType="remoteMessaging|microphone"/>
</application></manifest>